/*BotonDarkMode*/
header{
  
  .luna{
    
    height:50px;
    width: 50px;
    border-radius: 50%;
    
    
  }

  .sol {
    
    display: none;
    height:50px;
    width: 50px;
    border-radius: 50%;
  }
  #darkmode{
    display: none;
  }

  #darkmode:checked + .darkmode .luna {
    display: none;
    
  }
  #darkmode:checked + .darkmode .sol {
    display:block;
    

  }
 
}


/* Estilos para el modo claro */
body {
    background-color: #f0f0f0;
    transition: 2s;
  }
  h1 {
    color: #333;
  }
  /* Estilos para el modo oscuro */
  body.dark-mode {
    background-color: var(--colorfondo);
  
  }
  body.dark-mode main {
    transition: 3s;
    background-color: var(--colorfondo);
  }
  body.dark-mode main  {
    color: var(--colortexto);
  }
  body.dark-mode main h1 {
    color: var(--colortexto);
}
  body.dark-mode main p {
    color: var(--colortexto);
  }
  body.dark-mode .barralogo{
    background-color: var(--colorheader);
    
  }
  body.dark-mode .barralogo h1 {
    color: var(--colortexto);
}
body.dark-mode header p {
  color: var(--colortexto);
}