@mixin flex ($direction,$justify,$aling,$gap){
display: flex;
flex-direction: $direction;
justify-content: $justify;
align-items: $aling;
gap: $gap;
}
// hay que declararlo en el style.scss para que funcione