header{
        div {
            
            width: 100%;
            height: 30px;
            background-color: black;
            .registro{
                float: right;
                margin: 0 10px;
                color: #ffffff;
                &:hover{
                    color: aqua;
                    transform: scale(1.1);
                }
            }
        }
        .barralogo {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #F6FB04;
        height: 150px;
        width: 100%;
            h1{
                font-family: 'titulo';
                width: 120px;
                font-size: 30px;
                margin-right: 70px;
                margin-top: 10px;
            }
            a .logo{
                height: 140px;
                border-radius: 50%;
                margin-top: -25px;
                transition: 1.5s;
                background-color: none;
                &:hover{
                    transform: scale(1.2);
                }
            }
        
        }
        nav{
            
            background: black;
            height: 80px;
            width: 100%;
            .registronav{
                display: none;
            }
            .checkbtn {
                font-size: 30px;
                color: #fff;
                float: right;
                line-height: 80px;
                margin-right: 40px;
                cursor: pointer;
                
            }
            .checkbtn{
                display: none;
            }
            #check{
                display: none;
            }
            ul{
                label{
                    float: right;
                    margin-top: 15px;
                    margin-right: 50px;
                    &:hover{
                        cursor: pointer;
                    }
                }
                margin-right: 20px;
                li{
                    
                    display: inline-block;
                    border: solid
                    solid 5px;
                    line-height: 80px;
                    margin: 0 5px;
                    margin-top: 5px;
                    transition: 1s;
                    &:hover{
                        scale: 1.3;
                        color: #fff;
                        
                    }
                    a{
                        font-family: gemunu libre;
                        color: #fff;
                        font-size: 25px;
                        padding: 7px 13px;
                        border-radius: 3px;
                        text-transform: uppercase;
                        text-decoration: none;                    
                    }
                }
            }
        }
}