@media (max-width: 600px){

    main{
        padding-top: 120px;

    }
    header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        .registro{
            display: none;
        }
        .barralogo {
            display: flex;
            flex-direction: column;
            height: 40px;
            justify-content: center;
            padding: 0;
            h1{
            display: none;
            }
            a .logo{
                height: 120px;
                border-radius: 50%;
                margin-top: 120px;
                transition: 1.5s;
                background-color: none;
                &:hover{
                    transform: scale(1);
                }
            }
        }
        nav{
            
            .checkbtn {
                display: block;
                float: right;
                margin: 0 15px;
            }
            ul {
                padding: 10px;
                position: fixed;
                width: 100%;
                height: 120vh;
                background: #F6FB04;
                top: 150px;
                left: -100%;
                text-align: center;
                transition: all .5s;
                .registronav{
                    display: block;
                    margin: -5px;
                }
                
                li {
                    
                    display: block;
                    border: #000000 solid 2px;
                    background-color: #000000;
                    align-items: center;
                    margin: 30px;
                    line-height: 30px;
                    width: 85%;
                    &:hover{
                        transform: scale(0.75);
                    }
                    
                    a {
                        font-size: 20px;
                        color: #ffffff;
                    }

                }
            }
            #check:checked~ul {

                left: 0;
        
            }
        }

    }
    /*Darkmode del UL en mobile inicio*/
    body.dark-mode {
        background-color:var(--color-fondo);
        nav{
        ul{
            background-color: var(--colorheader);
        }
        }
    }
    /*Darkmode del UL en mobile fin*/
    .main-register {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px;
        
            .caja-registro{ 
            margin-top: 150px;
            border: solid 2px black;
            width: 80%;
            border-radius: 2%;
            }
                p{
                    font-size: small;
                }
    }
    .main-contacto{
        display: flex;
        align-items: top;
        justify-content: center;
        background-color: none;
        
        .grid-container{
            margin-top: 150px;
            display: flex;
            flex-direction: column;
            gap: 15px;
            
        .iconocontacto {
            height: 150px;
            padding: 10px;
            }
        .grid-item{
            border: #000000 2px solid;
            border-radius: 2%;
            height: 150px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: none;
            border-radius: 2%;
            transition: 1s;
            }
            .btn-primary{
                transition: 1s;
                &:hover{
                    color: red($color: #000000);
                    transform: scale(1.2);
                }
            }
        }
        
    }
    .main-quiero-ser-cliente {
        .flexcliente {
            background-color: var(--color-fondo);
            display: flex;
            width: 100%;
            background-color: none;
            flex-direction: row;
            justify-content: space-evenly;
    
    
            .requisitos {
                margin: 2px;
                margin-top: 50px;
                padding: 5px;
                font-size: large;
                font-family: gemunu libre;
                text-align: center;
                border: 2px black solid;
                height: fit-content;
                width: 50%;
                
                    h2 {
                    color: red;
                }
                    .firma {
                        font-family: titulo;
                        font-size: 25px;
                        float: right;
                        margin-top: 60px;
                }
    
            }
            .container{
            margin: 10px;
            width: 200px;
            border: 2px black solid;
            padding: 10px;
            }
        }
    }
    .main-empresa {
        padding: 10px;
        margin-top: 150px;
        h1 {
            
            @include fuente('gemunu libre', 25px, bold, italic);
        }
    
        h2 {
            @include fuente('gemunu libre', 15px,);
        }
    }
}
